# Auto detect text files and perform LF normalization
* text=auto
meu-portfolio-github/
├── projetos-academicos/
│   └── nome-do-projeto-1/
│       ├── README.md
│       └── arquivos-do-projeto
├── projetos-pessoais/
│   └── nome-do-projeto-2/
│       ├── README.md
│       └── arquivos-do-projeto
├── imagens/
│   └── prints-e-gifs-dos-projetos
├── .gitignore
└── README.md

